/*p{
	position: left;
	font-family: sans-serif;
	font-size: 16px;
	display: inline;
	text-align: left;
	color:red;
} */
h1{
	font-family: sans-serif;
	font-size: 75px;
	text-align: center;
}
.intro{
	text-align: center;
	color: white;
	margin:auto;
}
/*pmt text */
.justified{
	text-align: justify;
}
.input{
	position: center;
}
.sxiteenColumns{
	position: center;
}

p.intro{
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;

}
#contact_form{
	background-color: red;

}
.button{
	align-items:center;
}
.button_4{
	text-align: center;
	margin-right: 100px;
	margin-left: 600px;
}

/*officers page  */
/*pics of officers */
.small-block-grid-3 > li{
    list-style: none;
    display: block;
    weight: 100px;
    height:100px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top:5px;
    margin-left: 5px;
}

h3{
	text-align: center;
	font-family:serif;
	font-size: 40px;
}
/*officers text */
li > img:hover {
	cursor: pointer;
}

/*backgroung*/
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2000px 500px;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 800px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('http://s169923.gridserver.com/images/dtlarooftop.jpg');	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('http://s169923.gridserver.com/images/winterbarrel.jpg');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('http://s169923.gridserver.com/images/catalinaharbor.jpg');
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}
/*footer */
.site-wrapper{
	text-align: center;
	background-color: blue;
}
/*
style="position:absolute;left:640px;width:288px;height:547px;"
*/
